<UiHeader
  @src="../assets/images/ember-trivia-logo.png"
  @alt={{t "header.alt.ember-trivia"}} />

<h1> {{t "hello.universe"}} </h1>
{{outlet}}

<UiFooter
    @start={{t "footer.made-with"}}
    @end={{t "footer.by-mo"}}
    @src="../assets/images/tomster-with-heart.png"
    @alt={{t "footer.alt.tomster-sending-love"}}
  />
